@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0%;
    margin: 0%;
	box-sizing:border-box;
	text-decoration:none;
    list-style: none;
}

:root{
    --container-width:1320px;
    --header-font:'Poppins', sans-serif;
    --content-font:'Lato', sans-serif;
    --section-padding: 0 60px;
}


.container {
    width: 100%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

h1 , h2 , h3 , h4 , h5 , h6{
     font-family : var(--header-font);
}

a , p , div {
     font-family:var(--content-font);
}

.flex-box{
    --flex-gap:30px;
    display: flex;
    margin-left: cal(var(--flex-gap)/-2) ;
    margin-right: cal(var(--flex-gap)/-2) ;

}

.flex-box > *{
    margin-left: cal(var(--flex-gap)/2) ;
    margin-right: cal(var(--flex-gap)/2) ;
}

.half-block{
    flex : 0 0 50%;
    width:50%;

    
}

img{
    max-width:100% ;

}

.primary-cta-btn{
    display: inline-block;
    color: var(--light-text-color);
    background-color: var(--primary-brand-color);
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 5px;
    transition: box-shadow 100ms ease-in;
}
.primary-cta-btn:hover{
    box-shadow: 10px 0 25px rgba(0,0,0,0.2);
}


/* Responsive Design Coding */




/* // X-Large devices (large desktops, less than 1400px) */ 
@media (max-width: 1399.98px) {
    :root{
        --container-width:1140px;
    }

 }
  /* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    :root{
        --container-width:960px;
    }

}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    :root{
        --container-width:720px;
    }

 }
  /* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    :root{
        --container-width:540px;
    }

}
 /* // X-Small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    :root{
        --container-width:100%;
    }


 }